{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<body id="page-top" class="signup"></body>
<style>
    html{
      background-color: blue;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>


<section class="page-section" id="tables">
    <table>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>nutrition_grade</th>
      <th>image</th>
      <th>brand</th>
      <th>calories</th>
      <th>lipids</th>
      <th>sugars</th>
      <th>proteins</th>
      <th>salts</th>
      <th>url</th>
    </tr>
    {% for prod in product %}
    <tr>

        <td>{{prod.name}}</td>
        
        <td>
          {%for cat in prod.category.all %}
          {{cat}}
          {% endfor%}</td>
        <td>{{prod.nutrition_grade}}</td>
        <td>{{prod.image}}</td>
        <td>{{prod.brand}}</td>
        <td>{{prod.calories}}</td>
        <td>{{prod.lipids}}</td>
        <td>{{prod.sugars}}</td>
        <td>{{prod.proteins}}</td>
        <td>{{prod.salts}}</td>
        <td>{{prod.url}}</td>

    </tr>
    {% endfor %}
  </table>

</section>