{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<body id="page-top" class="product bg_opacity"></body>
<style>
    footer{
      position: fixed;
    }
    a{
        color: blue;
    }
  </style>

<section class="bg_footer page-section product " id="choice">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <h1 class="section-heading">Mentions légales</h1>
                <hr class="my-5" style="color: blue;">
                <h5 class="mb-4">Template bootstrap utilisé : <a href="https://startbootstrap.com/themes/creative/">Creative</a></h5>
                <h5 class="mb-4">Les données (images, nom, informations) des aliments proviennent de l'API <a href="https://fr.openfoodfacts.org/">OpenFoodFacts</a></h5>
                <h5 class="mb-4">Les autres images utilisée (page d'acceuil) sont la propriété de ©Disney</h5>
                <h5 class="mb-4">Les 3 images de fond utilisée sont disponibles a ces adresses :</h5>
                <h6 class="mb-4"> <a href="https://unsplash.com/photos/k60JspcBwKE">Image 1 : Photo by Kawin
                        Harasai on Unsplash</a> </h6>
                <h6 class="mb-4"> <a href="https://unsplash.com/photos/eqsEZNCm4-c">Image 2 : Photo by Olenka Kotyk
                        on Unsplash</a> </h6>

                <h5 class="mb-4">Toute les autres ressources sont libre de droit</h5>
                <h5 class="mb-4">Site hébergé sur <a href="https://www.heroku.com/">Heroku</a></h5>
            </div>
        </div>

    </div>
</section>
{%endblock%}