* {
    box-sizing: border-box;
  }
  .nav_color{
    background-color:#C45525  ;
  }
  .bg_opacity{
    background: transparent;
  }
  .column {
    width: 33.33%;
    padding: 5px;
    
  }
  .column_rat {
    width: 33.33%;
    padding: 5px;
    margin-left: 80px;
  }
  #images{
    text-align:center;
 }
 
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
}
  .colett{
    float:left;
    margin-left: auto;
    margin-right: auto;
  }
 .footer{
  display: flex;
  flex: 1 1 auto;
 }
  #left{
  float:left;
  width:50%;
  overflow:hidden;
  flex: 1 1 auto;
 
  }
  #right{
  float:left;
  width:50%;
  overflow:hidden;
  flex: 1 1 auto;
  } 

  .img {
    filter: invert(100%);
  }
  body {
    position: relative;
  }

  footer{
    bottom: 0; 
    left: 0; 
    right: 0;
  }
  .product_result{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .pic_search_result{
    border-radius: 10%;
    border-width: thick;
    width: 150px;
    
  }
  .name_result{
    margin-top: 10px;
  }
  .margin_bot{
    margin-bottom: 20px;
  }
  .notify-badge {
    position: absolute;
    right: -170px;
    top: 10px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    color: blanchedalmond;
    padding: 5px 10px;
    background: #345a61;
    text-transform: uppercase;
  }
  .item {
    position: relative;
    padding-top: 20px;
    display: inline-block;
  }
  .mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
  .carousel-caption {
    position: relative;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  .custom-color {
    color: #c45525;
    background-color: rgba( 251, 241, 241, 0.6);
    border-radius: 5px;
    font-weight: bold;
}
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
  .bg-footer {
    background-color: #de9440;
}

  .button_go_to_off{
    margin-top: 1em;
  }
  .center_text{
    text-align: center;
    margin-bottom: 2em;
  }
  .button_chooseproduct{
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 300px;
  }